@import 'jquery-ui';

body, html {
	height: 98%;
}

.tourny {
	height: 95%;
}

/****************************** Global Tabs ******************************/
.ui-tabs-nav {
	.ui-tabs-closeable {
		cursor: pointer;
		margin: 0.7em 0.5em 0 0;
		float: right;
	}
}

.ui-tabs-panel {
	& > div {
		@extend .ui-widget-content;
		padding: 10px;
	}
}

/****************************** Create Tab *******************************/
button.start {
	margin-top: 15px;
}


/****************************** Global Panels ****************************/
.panel {
	/* @extend .ui-widget; */
	
	/* label {
		@extend .ui-widget-header;
	}*/
	
	.desc {
		display: block;
		margin-left: 25px;
		font: {
			size: 0.7em;
			style: italic;
		}
	}
	
	.content {
		/* @extend .ui-widget-content; */
		margin-left: 25px;
	}
}